<%-include('../layouts/admin_header.ejs')%>
<h1 class="text-center">Current Statistical Data Of Smile For The Needaid Foundation</h1>
<hr>
<canvas id="myChart" width="100" height="100"></canvas>

<%-include('../layouts/admin_stat_footer.ejs')%>
