</div>

<div class="col-md-12 wow fadeInUp" data-wow-delay=".2s">
  <div class="footer">
  <p class="text-center">	<strong>SmileForTheNeedaid™</strong>© 2020-All Rights Reserved.</p>
  </div>





<!-- ========================= JS here ========================= -->
<script src="/js/bootstrap.5.0.0.alpha-2-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script src="/js/count-up.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/question.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- md bootstrap -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

<!-- toastr pluginjs -->
<script src="/js/toastr.js"></script>
<script>



// Success messages
   
<%   if(success_msg != ""){ %>
    toastr.success('<%= success_msg %>')
        
      <% } %>
    
     
// Error messages
      <%  if(error_msg != ""){ %>
    toastr.error('<%= error_msg %>')
        
      <% } %>



      //Disable button the login button when submitting the form

    const loginForm = document.querySelector("#myForm");
    const disableButton = document.querySelector("#disableMe");

    loginForm.onsubmit = function(){

       disableButton.disabled = true
       disableButton.innerText = "processing,please Wait...."

    }
  






        
  
</script>

<!-- Disable Buttons on Submit -->




</body>
</html>
