.pd {
  padding: 20px;
}
.mg {
  margin-left: 420px;
}
.move{
  margin-right: 397px;
}
.mg-interact{
  margin-left: 310px;


}

@media screen and (max-width: 411px) {
  .mg {
    margin-right: 40px;
  }
  .mg-interact{
     margin-left: 110px;
  }
}

@media screen and (max-width: 360px) {
   .mg {
     margin-left: 20px;
   }
  .mg-interact{
   margin-left: 90px;
   

 }

 }

 @media screen and (max-width: 1024px) {
   .mg {
     margin-left: 270px;
   }
 }

 @media screen and (max-width: 375px) {
  .mg {
    margin-left: 0px;
  }
 .mg-interact{
  margin-left: 90px;
  

}
